.favItem{
    align-self: flex-end;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.favItem-detail{
    align-self: flex-end;
    padding: 0rem 1rem;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
}