.fav-container{
    margin:2rem 5rem;
    padding: 0.5rem 2rem;
}

.fav-controls{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.fav-controls_btn{
    display: flex;
    gap: 0.5rem;
}
.fav-controls_btn button{
    border-radius: 15px;
    text-transform: capitalize;
    text-align: center;
    padding: 0.5rem;
    font-weight: 700;
    background-color: #005B5F;
    border: 2px solid #005B5F;
    cursor: pointer;
    width: 130px;
    max-width: 190px;
    line-height: 1;
    letter-spacing: .02em;
    font-size: .8rem;
    color: #F9F6F6;
}
.fav-controls_btn button:hover{
    color: #005B5F;
    background-color: white;
}

.fav-topbar{
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fav-content{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fav-noResults{
    text-align: center;
    margin: 5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fav-btn_back{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.fav-btn_back:hover{
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    .fav-container{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .fav-topbar{
        margin: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .fav-controls{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: stretch;
    }
    .fav-noResults{
        margin: 1rem;
    }
  }
