.pagination{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.pagination li{
    margin: 5px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.pageActive{
    background-color: yellow;
}