*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
  #C1BEBE, gris
  #FFE4E5, rosa
  #005B5F, verde
  #F9F6F6, beige
*/