.add-button{
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    font-weight: 700;
    background-color: #005B5F;
    border: 2px solid #005B5F;
    cursor: pointer;
    width: 190px;
    max-width: 190px;
    line-height: 1;
    letter-spacing: .02em;
    font-size: .8rem;
    color: #F9F6F6;
}
.add-button:hover{
    color: #005B5F;
    background-color: #F9F6F6;
}

.count-container{
    padding: 0.5rem;
}

.input-container{
    text-align: center;
    padding: 0.5rem;
}
.input{
    border-radius: 10px;
    width: 3.5rem;
    border: 1px solid #eaeaea;
    font-size: 0.8rem;
    outline: none;
    min-height: 36px;
    padding: 4px ;
    color: #000;
    text-align: center;
}