.navBar{
    width: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar ul{
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #005B5F;
    border-top: 2px solid #FFE4E5;
}

.navBar ul li{
    padding-left: 5%;
    padding-top: 0.5rem;
}
.navBar div a{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FF8945;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}

.navBar ul li:hover{
    font-weight: bolder;
}

.navBar-icons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}