.navBar{
    width: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar ul{
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #005B5F;
    border-top: 2px solid #FFE4E5;
}

.navBar ul li{
    padding-left: 5%;
    padding-top: 0.5rem;
}
.navBar div a{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FF8945;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}

.navBar ul li:hover{
    font-weight: bolder;
}

.navBar-icons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.logoImg{
    height: 80px;
    width: auto;
}

.navBar-btn_logout{ 
    margin-bottom: 1rem ;
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    font-weight: 700;
    background-color: #FF8945;
    border: 2px solid #FF8945;
    cursor: pointer;
    width: 190px;
    max-width: 190px;
    line-height: 1;
    letter-spacing: .02em;
    font-size: .8rem;
    color: #F9F6F6;
}
    
.navBar-btn_logout:hover{
    color: #FF8945;
    background-color: #005B5F;
}